.user-logo-container{
position: relative;
display: flex;
  &-border{
    position: relative;
    z-index: 2;
    top: 50px;
    right: 60px;
  }
  &-premium{
    position: relative;
    z-index: 1;
  }
}
