<div class="user-logo-container">
  <svg class="user-logo-container-premium" xmlns="http://www.w3.org/2000/svg" width="76" height="76" fill="none" viewBox="0 0 76 76">
    <g filter="url(#filter0_d_11_37)">
      <circle cx="38" cy="38" r="34" fill="url(#paint0_radial_11_37)" shape-rendering="crispEdges"/>
    </g>
    <defs>
      <radialGradient id="paint0_radial_11_37" cx="0" cy="0" r="1" gradientTransform="matrix(0 34 -34 0 38 38)" gradientUnits="userSpaceOnUse">
        <stop offset=".953" stop-color="#ED95A2"/>
        <stop offset="1" stop-color="#ED95A5" stop-opacity=".48"/>
      </radialGradient>
      <filter id="filter0_d_11_37" width="76" height="76" x="0" y="0" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
        <feOffset/>
        <feGaussianBlur stdDeviation="2"/>
        <feComposite in2="hardAlpha" operator="out"/>
        <feColorMatrix values="0 0 0 0 0.929412 0 0 0 0 0.584314 0 0 0 0 0.647059 0 0 0 1 0"/>
        <feBlend in2="BackgroundImageFix" result="effect1_dropShadow_11_37"/>
        <feBlend in="SourceGraphic" in2="effect1_dropShadow_11_37" result="shape"/>
      </filter>
    </defs>
  </svg>
  <svg class="user-logo-container-border" xmlns="http://www.w3.org/2000/svg" width="44" height="27" fill="none" viewBox="0 0 44 27">
    <g filter="url(#filter0_d_11_38)">
      <path fill="#D9D9D9" stroke="url(#paint0_linear_11_38)" d="M8 7.5L14.5 22H22V2l-5.5 10.5-8.5-5z"/>
      <path fill="#D9D9D9" stroke="url(#paint1_linear_11_38)" d="M36 7.5L29.5 22H22V2l5.5 10.5 8.5-5z"/>
      <g>
        <path fill="#D9D9D9" stroke="url(#paint2_linear_11_38)" d="M33.952 17.208c-2.517.273-5.547 3.05-5.547 3.05s5.917 3.081 7.812 2.484c1.894-.597 4.612-3.536 4.612-3.536s-4.36-2.27-6.877-1.998z"/>
        <path fill="#D9D9D9" stroke="url(#paint3_linear_11_38)" d="M27.833 15.565C24.623 17.205 22 22.436 22 22.436s9.436 1.099 11.654-.657c2.218-1.755 4.344-7.045 4.344-7.045s-6.953-.81-10.165.83z"/>
        <g>
          <path fill="#D9D9D9" stroke="url(#paint4_linear_11_38)" d="M9.877 17.208c2.518.273 5.547 3.05 5.547 3.05s-5.917 3.081-7.811 2.484C5.718 22.145 3 19.206 3 19.206s4.36-2.27 6.877-1.998z"/>
          <path fill="#D9D9D9" stroke="url(#paint5_linear_11_38)" d="M15.996 15.565c3.211 1.64 5.833 6.871 5.833 6.871s-9.436 1.099-11.654-.657c-2.217-1.755-4.343-7.045-4.343-7.045s6.953-.81 10.164.83z"/>
        </g>
      </g>
    </g>
    <defs>
      <linearGradient id="paint0_linear_11_38" x1="15" x2="15" y1="2" y2="22" gradientUnits="userSpaceOnUse">
        <stop stop-color="#ED95A5"/>
        <stop offset="1" stop-color="#969696" stop-opacity=".96"/>
      </linearGradient>
      <linearGradient id="paint1_linear_11_38" x1="29" x2="29" y1="2" y2="22" gradientUnits="userSpaceOnUse">
        <stop stop-color="#ED95A5"/>
        <stop offset="1" stop-color="#969696" stop-opacity=".96"/>
      </linearGradient>
      <linearGradient id="paint2_linear_11_38" x1="36.158" x2="33.077" y1="16.773" y2="22.69" gradientUnits="userSpaceOnUse">
        <stop stop-color="#EBEBEB"/>
        <stop offset="1" stop-color="#898989"/>
      </linearGradient>
      <linearGradient id="paint3_linear_11_38" x1="30.548" x2="29.45" y1="13.867" y2="23.303" gradientUnits="userSpaceOnUse">
        <stop stop-color="#EBEBEB"/>
        <stop offset="1" stop-color="#898989"/>
      </linearGradient>
      <linearGradient id="paint4_linear_11_38" x1="7.671" x2="10.753" y1="16.773" y2="22.69" gradientUnits="userSpaceOnUse">
        <stop stop-color="#EBEBEB"/>
        <stop offset="1" stop-color="#898989"/>
      </linearGradient>
      <linearGradient id="paint5_linear_11_38" x1="13.281" x2="14.38" y1="13.867" y2="23.303" gradientUnits="userSpaceOnUse">
        <stop stop-color="#EBEBEB"/>
        <stop offset="1" stop-color="#898989"/>
      </linearGradient>
      <filter id="filter0_d_11_38" width="43.453" height="25.551" x=".188" y=".768" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
        <feOffset dy="1"/>
        <feGaussianBlur stdDeviation="1"/>
        <feComposite in2="hardAlpha" operator="out"/>
        <feColorMatrix values="0 0 0 0 0.85 0 0 0 0 0.85 0 0 0 0 0.85 0 0 0 0.4 0"/>
        <feBlend in2="BackgroundImageFix" result="effect1_dropShadow_11_38"/>
        <feBlend in="SourceGraphic" in2="effect1_dropShadow_11_38" result="shape"/>
      </filter>
    </defs>
  </svg>
</div>
